* {
  font-size: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  color: #0a0a0a;
  text-decoration: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

main.mainContainer {
  width: 100vw;
  height: 100vh;
  background-image: url(../images//forest.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.mainContainer header.headerContainer {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main.mainContainer header.headerContainer h1.h1LogoTitle {
  font-size: 4.2vw;
  padding-left: 4vw;
  position: relative;
  color: #fafafa;
}

main.mainContainer header.headerContainer h1.h1LogoTitle::before {
  content: '';
  position: absolute;
  top: 54%;
  right: -25vw;
  width: 60%;
  height: 0.1rem;
  background-color: #fafafa;
}

main.mainContainer input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(250, 250, 250, 0.9);
}

main.mainContainer input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(250, 250, 250, 0.9);
}

main.mainContainer input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(250, 250, 250, 0.9);
}

main.mainContainer input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(250, 250, 250, 0.9);
}

main.mainContainer input.inputGetDecimalContainer {
  width: 70%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(10, 10, 10, 0.7);
  text-align: center;
  font-size: 1.8vw;
  color: #fafafa;
  font-weight: bold;
}

main.mainContainer .divDecimalConverterContainer {
  width: 70%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7vw;
  color: #fafafa;
  font-weight: bold;
}

main.mainContainer .divDecimalConverterContainer select {
  cursor: pointer;
  padding-left: 0.5vw;
  border: 0.1rem solid #fafafa;
  margin: 0 0.8vw;
  font-size: 1.7vw;
  font-weight: bold;
  color: #fafafa;
  border-radius: 0.2vw;
}

main.mainContainer .divDecimalConverterContainer select option {
  font-size: 1.7vw;
  color: #0a0a0a;
  font-weight: bold;
}

main.mainContainer .divDecimalConverterContainer button.buttonConvert {
  font-size: 1.8vw;
  margin-left: 0.8vw;
  color: #fafafa;
  cursor: pointer;
  border-radius: 0.5vw;
  border: 0.1rem solid #fafafa;
  padding: 1vw 1.5vw;
  font-weight: bold;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

main.mainContainer .divDecimalConverterContainer button.buttonConvert:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: rgba(10, 10, 10, 0.6);
}

main.mainContainer input.inputPrintDecimalContainer {
  width: 70%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(10, 10, 10, 0.7);
  text-align: center;
  font-size: 1.8vw;
  color: #fafafa;
  font-weight: bold;
}

main.mainContainer footer.footerContainer {
  width: 100%;
  height: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6vw;
  font-weight: bold;
}

main.mainContainer footer.footerContainer .divPurpose {
  color: #fafafa;
}

.divModalContainer {
  width: 50%;
  height: 30%;
  background-color: rgba(250, 250, 250, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divModalContainer button.buttonCloseButton {
  width: 4vw;
  height: 6vh;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.divModalContainer button.buttonCloseButton i.iconCloseButton {
  color: #fafafa;
}

.divModalContainer span.spanModalText {
  text-align: center;
  font-size: 1.7vw;
}
/*# sourceMappingURL=index.css.map */