@mixin displayFlexRow() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin displayFlexCol () {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}